* {
    box-sizing: border-box;
  }
ul {
    margin-top: 1.2vh;
    padding: 0;
  }
  
  ul li {
    cursor: pointer;
    position: relative;
    padding: 20px 8px 20px 40px;
    /* background: #fafafa; */
    border: .2px solid rgba(34, 34, 34, .1);
    font-size: 18px;
    line-height: 18px;
    transition: 0.2s;
    font-family: Avenir, Helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.3s;
  }
  
  /* ul li:nth-child(odd) {
    background: #f9f9f9;
  } */
  
  ul li:hover {
    background: rgba(10, 135, 84, .3);
    transition: 0.3s;
  }
  
  ul li.checked {
    background: rgb(10, 135, 84);
    color: #fff;
    text-decoration: line-through;
  }
  
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  ul li.checked:hover {
      opacity: .8;
  }
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  textarea {
      width: 100%;
      height: 50px;
      display: none;
  }
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  .header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
    transition: 0.3s;
  }
  .submit {
      width: 100%;
      font-size: 22px;
      font-weight: 800;
      color: white;
      font-family: Avenir, Helvetica, sans-serif;
      height: 60px;
      line-height: 60px;
      border: none;
      background: none;
      margin-top: 30px;
      border-radius: 5px;
      background-color: #3F88C5;
      box-shadow: 0px 5px #16425B;
      padding-bottom: 20px;
      transition: 0.3s;
      overflow: hidden;
    
  }
  .submit:hover {
      cursor: pointer;
      opacity: .9;
      transition: 0.3s;
  }

  .error {
    border: 1px solid #A3333D;
    background-color: #A3333D;
    color: white;
    font-weight: bold;
  }
  .errorLabel {
      color: red;
  }
  .errorTextArea {
      border: 1px solid red;
  }