@media screen and (max-width: 600px) {
    h1 {
        font-family: Avenir, Helvetica, sans-serif;
        font-size: 2rem;
        margin-top: 10%;
        margin-left: 5%;
    }
    h2 {
        font-family: Avenir, Helvetica, sans-serif;
        font-size: 1.5rem;
        opacity: .9;
        margin-top: 2%;
        margin-left: 5%;
    }
    p {
        font-family: Avenir, Helvetica, sans-serif;
        font-size: 1.2rem;
        margin-left: 5%; 
        margin-top: 10px;
        opacity: .8;
    }
    .tabContainer {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        width: 100%;
        margin-left: 0%;
        margin-top: 10%;
        display: flex;
        flex-basis: 80%;
        flex-direction: row;
      }
      .tabContainer button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        flex: 1;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 14px;
      }
      .tabcontent {
        display: none;
        padding: 6px 12px;
        width: 100%;
        margin-left: 0%;
        flex-basis: 90%;
        border-top: none;
      }
      .tabcontent h3 {
        font-family: Avenir, Helvetica, sans-serif;
        font-size: 1.5rem;
        margin-top: 3%;
        margin-left: 1%;
      }
}