* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    width: 100vw;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
h1 {
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 2.5rem;
    margin-top: 3%;
    margin-left: 25%;
}
h2 {
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 1.7rem;
    margin-top: 2%;
    margin-left: 25%;
}
p {
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-left: 25%; 
    opacity: .8;
}
.tabContainer {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    display: flex;
    flex-basis: 80%;
    flex-direction: row;
  }
  
  .tabContainer button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    flex: 1;
    font-family: Avenir, Helvetica, sans-serif;
    color: #454545;
    font-weight: bold;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  .tabContainer button:hover {
    background-color: #ddd;
  }
  
  .tabContainer button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    display: none;
    font-family: Avenir, Helvetica, sans-serif;
    color: #222;
    padding: 6px 12px;
    width: 50%;
    margin-left: 25%;
    flex-basis: 80%;
    border-top: none;
  }
  .tabcontent h3 {
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-top: 3%;
    margin-left: 1%;
  }