* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    width: 100vw;
}
.container {
    border: 1px solid red;
    height: 600px;
    width: 100%;
    display: flex; 
    flex-direction: row;
    flex-basis: 100%;
}
.container .left {
    display: flex;
    flex: 1;
    border: 1px solid red;

}
.container .middle {
    display: flex;
    flex: 3;
    border: 1px solid red;
}
.tabsContainer {
    border: 2px solid blue;
    width: 80%;
    margin-left: 10%;
}
.container .right {
    display: flex;
    flex: 1;
    border: 1px solid red;
}